'scopeName': 'source.sas'
'fileTypes': [
  'sas'
  'macro'
]
name: 'SAS'
patterns: [
  {include: '#data'}
  {include: '#proc-sql'}
  {include: '#proc'}
  {include: '#comment'}
  {include: '#string'}
  {include: '#constant'}
  {include: '#variable'}
  {include: '#function'}
  {include: '#macro'}
  {include: '#operator'}
]
'repository': {
  'data':{
    patterns: [
      {
        begin: '(^|(?<=;))\\s*((?i:data))\\b'
        beginCaptures:
          2:
            name: 'support.function.data-step.sas'
        end: '(^|(?<=;))(?=\\s*((?i:(data|endsas|proc|run)))\\b)'
        patterns: [
          {include: '#comment'}
          {include: '#string'}
          {include: '#constant'}
          {include: '#variable'}
          {include: '#function'}
          {include: '#macro'}
          {include: '#operator'}
          {
            name: 'keyword.control.data-step.sas'
            match: '\\b(?i:(continue|do|else|end|go|if|leave|link|return|then|to|otherwise|over|select|until|when|while))\\b'
          }
          {
            match: '((^|(?<=;))\\s*)((?i:(abort|array|attrib|by|call|cards|cards4|data|datalines|datalines4|delete|describe|display|drop|error|execute|file|format|infile|informat|input|keep|label|length|list|lostcard|merge|modify|output|put|putlog|redirect|remove|rename|replace|retain|set|update|where|window))\\b)'
            captures:
              3:
                name: 'support.function.data-step.sas'
          }
          {
            match: '((^|(?<=;))\\s*)((?i:declare\\s+(hash|hiter|javaobj|)))'
            captures:
              3:
                name: 'support.function.declare.sas'
          }
        ]
      }
    ]
  }
  'proc-sql': {
    patterns: [
      {
        begin: '(^|(?<=;))\\s*((?i:proc\\s+sql))\\b[^;]*(;)'
        beginCaptures:
          2:
            name: 'support.function.procedure.sql.sas'
          3:
            name: 'punctuation.terminator.statement.semicolon.sas'
        end: '(^|(?<=;))\\s*((?i:quit\\s*))(;)'
        endCaptures:
          2:
            name: 'support.function.procedure.sas'
          3:
            name: 'punctuation.terminator.statement.semicolon.sas'
        patterns: [
          include: 'source.sql'
        ]
      }
    ]
  }
  'proc': {
    patterns: [
      {
        begin: '(^|(?<=;))\\s*((?i:proc\\s+\\w*))'
        beginCaptures:
          2:
            name: 'support.function.procedure.sas'
        end: '(^|(?<=;))(?=\\s*((?i:(data|endsas|proc|quit|run)))\\b)'
        patterns: [
          {include: '#comment'}
          {include: '#string'}
          {include: '#constant'}
          {include: '#variable'}
          {include: '#function'}
          {include: '#macro'}
          {include: '#operator'}
          {
            name: 'support.function.procedure.sas'
            match: '((^|(?<=;))\\s*)(?i:(abort|age|append|array|attrib|audit|block|break|by|calid|cdfplot|change|checkbox|class|classlev|column|compute|contents|copy|create|datarow|dbencoding|define|delete|deletefunc|deletesubr|delimiter|device|dialog|dur|endcomp|exact|exchange|exclude|explore|fin|fmtlib|fontfile|fontpath|format|formats|freq|function|getnames|guessingrows|hbar|hdfs|histogram|holidur|holistart|holivar|id|idlabel|informat|inset|invalue|item|key|keylabel|keyword|label|line|link|listfunc|listsubr|mapmiss|mapreduce|mean|menu|messages|meta|modify|outargs|outdur|outfin|output|outstart|pageby|partial|picture|pie|pig|plot|ppplot|printer|probplot|profile|prompter|qqplot|radiobox|ranks|rbreak|rbutton|rebuild|record|remove|rename|repair|report|roptions|save|select|selection|separator|source|star|start|statistics|struct|submenu|subroutine|sum|sumby|table|tables|test|text|trantab|truetype|type1|types|value|var|vbar|ways|weight|where|with|write))\\b'
          }
          {
            name: 'support.function.procedure.ods.sas'
            match: '((^|(?<=;))\\s*)(?i:(band|bubble|colaxis|compare|density|dot|dynamic|ellipse|hbar|hbarparm|hbox|highlow|histogram|hline|inset|keylegend|lineparm|loess|matrix|needle|panelby|pbspline|plot|refline|reg|rowaxis|scatter|series|step|vbar|vbarparm|vbox|vector|vline|waterfall|xaxis|x2axis|yaxis|y2axis))\\b'
          }
        ]
      }
    ]
  }
  'comment': {
    patterns: [
      {
        name: 'comment.block.sas'
        begin: '/\\*'
        end: '\\*/'
      }
      {
        begin: '(^|(?<=;))\\s*\\*'
        end: ';'
        name: 'comment.star.sas'
      }
    ]
  }
  'constant': {
    patterns: [
      {
        match: '\\b(\\d+\\.?\\d*|\\.\\d+)((e|E)[\\+-]?\\d+)?\\b'
        name: 'constant.numeric.sas'
      }
      {
        match: '\\s+(\\.)\\s+'
        name: 'constant.language.missing.sas'
      }
    ]
  }
  'operator': {
    # According to "SAS Operators in Expressions":
    # https://support.sas.com/documentation/cdl/en/lrcon/62955/HTML/default/viewer.htm#a000780367.htm
    patterns: [
      {
        match: '\\b(?i:(eq|ge|gt|in|le|lt|ne))\\b'
        name: 'keyword.operator.comparison.sas'
      }
      {
        match: '(^=|¬=|~=|=|>=|<=|>|<)'
        name: 'keyword.operator.comparison.sas'
      }
      {
        comment: 'match division operator but not path separator'
        match: '(?<![\\w.&&[^0-9]])/(?![\\w.&&[^0-9]]|$)'
        name: 'keyword.operator.arithmetic.sas'
      }
      {
        match: '(\\+|-|\\*\\*|\\*)'
        name: 'keyword.operator.arithmetic.sas'
      }
      {
        match: '(?<=\\d)(:)(?=\\d)'
        name: 'keyword.operator.range.sas'
      }
      {
        match: '\\b(\\|\\|)\\b'
        name: 'keyword.operator.concatenation.sas'
      }
      {
        match: '\\b(&|\\||!|¦|¬|\\^|~|(?i:(and|or|not)))\\b'
        name: 'keyword.operator.logical.sas'
      }
      {
        match: ','
        name: 'keyword.operator.arguments.sas'
      }
      {
        match: ';'
        name: 'punctuation.terminator.statement.semicolon.sas'
      }
    ]
  }
  'string': {
    patterns: [
      {
        name: 'string.quoted.double.sas'
        begin: '"'
        beginCaptures:
          0:
            name: 'punctuation.definition.string.begin.sas'
        end: '"'
        endCaptures:
          0:
            name: 'punctuation.definition.string.end.sas'
      }
      {
        name: 'string.quoted.single.sas'
        begin: "'"
        beginCaptures:
          0:
            name: 'punctuation.definition.string.begin.sas'
        end: "'"
        endCaptures:
          0:
            name: 'punctuation.definition.string.end.sas'
      }
    ]
  }
  'variable': {
    patterns: [
      {
        match: '\\b((?i:_(all|automatic|character|data|error|infile|last|n|name|null|numeric|user|webout)_))\\b'
        name: 'variable.language.special.sas'
      }
      {
        match: '\\b(\\w*[A-Za-z]\\.)(?![\\w\\*])'
        name: 'variable.other.format.sas'
      }
    ]
  }
  'function': {
    patterns: [
      {
        match: '((^|(?<=;))\\s*)((?i:(catname|dm|endsas|filename|footnote\\d*|libname|lock|options|page|quit|run|sasfile|skip|sysecho|title\\d*)))\\b'
        captures:
          3:
            name: 'support.function.global.sas'
      }
      {
        match: '((^|(?<=;))\\s*)((?i:ods\\s+(chtml|csvall|docbook|document|escapechar|exclude|graphics|html3|html|htmlcss|imode|listing|markup|output|package|path|pcl|pdf|preferences|phtml|printer|proclabel|proctitle|ps|results|rtf|select|show|trace|usegopt|verify|wml|)))'
        captures:
          3:
            name: 'support.function.ods.sas'
      }
    ]
  }
  'macro': {
    patterns: [
      {
        name: 'variable.other.macro.sas'
        match: '(&+)(\\w+)\\b'
        captures:
          1:
            name: 'punctuation.definition.string.begin.sas'
          2:
            name: 'entity.name.type.class.sas'

      }
      {
        name: 'keyword.control.macro.sas'
        match: '%\\b(?i:(abort|by|copy|display|do|else|end|global|goto|if|include|input|label|let|local|macro|mend|put|return|symdel|syscall|sysexec|syslput|sysrput|then|to|until|window|while))\\b'
      }
    ]
  }
}
